<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Cadastro de Professor
  </title>
  <link href="/css/app.css" rel="stylesheet" th:href="@{/css/app.css}"/>
 </head>
 <body class="app-page">
  <th:block th:replace="~{fragments/layout :: navigation('professor')}">
  </th:block>
  <main class="container" id="main-content">
   <div class="logo">
    <img alt="" aria-hidden="true" class="icon" height="22" src="/images/icons/chalkboard-user.svg" th:src="@{/images/icons/chalkboard-user.svg}" width="22"/>
   </div>
   <h1>
    Cadastro de Professor
   </h1>
   <p class="subtitulo">
    Cadastre ou atualize os dados do professor
   </p>
   <form class="data-form" method="post" th:action="@{/professores/salvar}" th:object="${professor}">
    <input th:field="*{idProfessor}" type="hidden"/>
    <div class="field">
     <label for="nome">
      Nome
     </label>
     <input id="nome" placeholder="Digite o nome do professor" required="" th:field="*{nomeProfessor}" type="text"/>
    </div>
    <div class="field">
     <label for="telefone">
      Telefone
     </label>
     <input id="telefone" placeholder="Digite o telefone" required="" th:field="*{telefoneProfessor}" type="tel"/>
    </div>
    <div class="field">
     <label for="graduacao">
      Graduação
     </label>
     <input id="graduacao" placeholder="Ex: Ciência da Computação" required="" th:field="*{graduacaoProfessor}" type="text"/>
    </div>
    <div class="field">
     <label for="rm">
      RM
     </label>
     <input id="rm" placeholder="Digite o RM do professor" required="" th:field="*{rmProfessor}" type="text"/>
    </div>
    <div class="form-actions">
     <input class="botao" type="submit" value="Salvar Professor"/>
     <a class="voltar" href="/professores/listar">
      Cancelar
     </a>
    </div>
   </form>
   <div th:replace="~{fragments/layout :: credit}">
   </div>
  </main>
 </body>
</html>
